In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("datasets/WA_Fn-UseC_-Telco-Customer-Churn.csv")
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

null값 찾기

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [3]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

공백 값이 있는 열 제외

In [4]:
data = data[data['TotalCharges']!=' '] 
data # 11개 제거됨

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
#ID는 예측할 때는 필요가 없으니 빼서 따로 저장.
ID = data['customerID'].copy()
data = data.drop(["customerID"], axis=1)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   object
 3   Dependents        7032 non-null   object
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   object
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   object
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   object
 19  Churn             7032 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

TotalCharges를 숫자로 변환

In [7]:
data['TotalCharges'] = pd.to_numeric(data["TotalCharges"]) # 숫자로 변환된 것을 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   object
 3   Dependents        7032 non-null   object
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   object
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   object
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

데이터 준비과정

In [8]:
# 숫자형 데이터
data_num = data[["tenure","MonthlyCharges","TotalCharges"]]

# 문자형 데이터
data_str = data.drop(["tenure","MonthlyCharges","TotalCharges"], axis=1)

# 문자형-이진(senior citizen은 숫자형이긴 해도 값이 0/1밖에 없기 때문에 이곳에 포함시켜도 무방하다)
data_ordinal = data_str[["SeniorCitizen","gender","Partner", "Dependents", "PhoneService", "Churn"]] # Y/N  or F/M

# 문자형-순서가 없는 데이터
data_hot = data_str.drop(["SeniorCitizen","gender","Partner", "Dependents", "PhoneService", "Churn"], axis=1) # Y/N/No service

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

num_attribs = list(data_num)
ordinal_attribs = list(data_ordinal)
hot_attribs = list(data_hot)

Pipeline_1 = ColumnTransformer([
        ("ordinal", OrdinalEncoder(), ordinal_attribs), # 남자는1, 여자는0으로 맵핑됨.
        ("hot", OneHotEncoder(sparse=False), hot_attribs),
        ("num", StandardScaler(), num_attribs), # 숫자 데이터 스케일링(standard)    
    ])

Pipeline_2 = ColumnTransformer([
        ("ordinal", OrdinalEncoder(), ordinal_attribs), # 남자는1, 여자는0으로 맵핑됨.
        ("hot", OrdinalEncoder(), hot_attribs),  
        ("num", RobustScaler(), num_attribs), # 숫자 데이터 스케일링(Robust)
    ])

data_prepared_1 = pd.DataFrame(Pipeline_1.fit_transform(data)) 
data_prepared_2 = pd.DataFrame(Pipeline_2.fit_transform(data)) 
data_prepared_2

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-1.280248,-1.161694,-0.994194
1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.064303,-0.260878,-0.173740
2,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.239504,-0.363923,-0.959649
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.512486,-0.747850,-0.195248
4,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-1.239504,0.196178,-0.940457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.343137,0.664868,-0.129180
7028,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.612573,1.276493,2.241056
7029,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-0.872808,-1.170004,-0.854514
7030,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.158016,0.319168,-0.872095
7031,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.368109,1.357932,2.012344

훈련셋, 검증셋 생성

In [10]:
from sklearn.model_selection import train_test_split
#train_set, test_set = train_test_split(data_prepared_1, test_size=0.2, random_state=42)
train_set, test_set = train_test_split(data_prepared_2, test_size=0.2, random_state=42)

# data_prepared의 5번 컬럼이 data['Churn']이다.
train_x = train_set.drop([5], axis=1) 
train_y = train_set[5] # 훈련 셋 레이블

test_x = test_set.drop([5], axis=1)
test_y = test_set[5] # 검증 셋 레이블

RandomForestClassifier

In [11]:
comparison=[]

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

RFC = RandomForestClassifier(random_state=42, max_depth= 4)
RFC.fit(train_x, train_y) # 훈련 셋에 적용
RFC_predict = RFC.predict(train_x) 
RFC_predict_test = RFC.predict(test_x)

AccuracyScore = []
AccuracyScore.append(accuracy_score(RFC_predict, train_y))
AccuracyScore.append(accuracy_score(RFC_predict_test, test_y))

comparison.append(AccuracyScore)

print('train_set: ', AccuracyScore[0]) # 훈련 셋 예측 결과
print('test_set: ', AccuracyScore[1]) # 검증 셋 적용 결과

train_set:  0.8017777777777778
test_set:  0.7889125799573561

BaggingClassifier

In [13]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

bagC = BaggingClassifier(
    DecisionTreeClassifier(random_state=42),random_state=42, n_estimators=500, max_samples=100)
bagC.fit(train_x, train_y)

bagC_predict = bagC.predict(train_x)
bagC_predict_test = bagC.predict(test_x)

AccuracyScore = []
AccuracyScore.append(accuracy_score(bagC_predict, train_y))
AccuracyScore.append(accuracy_score(bagC_predict_test, test_y))

comparison.append(AccuracyScore)

print('train_set: ', AccuracyScore[0]) # 훈련 셋 예측 결과
print('test_set: ', AccuracyScore[1]) # 검증 셋 적용 결과

train_set:  0.8133333333333334
test_set:  0.7846481876332623

부스팅: XGBoost(조기종료)

In [14]:
import xgboost as xgb

XGB = xgb.XGBRegressor(random_state=42)
XGB.fit(train_x, train_y,
        eval_set=[(test_x, test_y)], early_stopping_rounds=10)
XGB_predict = XGB.predict(train_x)
XGB_predict_test = XGB.predict(test_x)

AccuracyScore = []
AccuracyScore.append(accuracy_score([ 1 if x > 0.5 else 0 for x in XGB_predict], train_y))
AccuracyScore.append(accuracy_score([ 1 if x > 0.5 else 0 for x in XGB_predict_test], test_y))

comparison.append(AccuracyScore)

print('train_set: ', AccuracyScore[0]) # 훈련 셋 예측 결과
print('test_set: ', AccuracyScore[1]) # 검증 셋 적용 결과

[0]	validation_0-rmse:0.44143
Will train until validation_0-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:0.40854
[2]	validation_0-rmse:0.39324
[3]	validation_0-rmse:0.38612
[4]	validation_0-rmse:0.38237
[5]	validation_0-rmse:0.38094
[6]	validation_0-rmse:0.38093
[7]	validation_0-rmse:0.38109
[8]	validation_0-rmse:0.38005
[9]	validation_0-rmse:0.38027
[10]	validation_0-rmse:0.38089
[11]	validation_0-rmse:0.38153
[12]	validation_0-rmse:0.38191
[13]	validation_0-rmse:0.38293
[14]	validation_0-rmse:0.38269
[15]	validation_0-rmse:0.38354
[16]	validation_0-rmse:0.38349
[17]	validation_0-rmse:0.38338
[18]	validation_0-rmse:0.38384
Stopping. Best iteration:
[8]	validation_0-rmse:0.38005

train_set:  0.8499555555555556
test_set:  0.7882018479033405

부스팅: ADABoost(얕은 분류기 200회)

In [15]:
from sklearn.ensemble import AdaBoostClassifier

adaC = AdaBoostClassifier(
    DecisionTreeClassifier(max_depth=1), n_estimators=200)
adaC.fit(train_x, train_y)
adaC_predict = adaC.predict(train_x)
adaC_predict_test = adaC.predict(test_x)

AccuracyScore = []
AccuracyScore.append(accuracy_score(adaC_predict, train_y))
AccuracyScore.append(accuracy_score(adaC_predict_test, test_y))

comparison.append(AccuracyScore)

print('train_set: ', AccuracyScore[0]) # 훈련 셋 예측 결과
print('test_set: ', AccuracyScore[1]) # 검증 셋 적용 결과

train_set:  0.8170666666666667
test_set:  0.7917555081734187

LinearRegression

In [16]:
# 오류가 날 때 이 부분을 다시 실행하면 된다.

from sklearn.linear_model import LinearRegression

LinR = LinearRegression()
LinR.fit(train_x, train_y)
LinR_predict = LinR.predict(train_x)
LinR_predict_test = LinR.predict(test_x)

AccuracyScore = []
AccuracyScore.append(accuracy_score([ 1 if x > 0.5 else 0 for x in LinR_predict], train_y))
AccuracyScore.append(accuracy_score([ 1 if x > 0.5 else 0 for x in LinR_predict_test], test_y))

comparison.append(AccuracyScore)

print('train_set: ', AccuracyScore[0]) # 훈련 셋 예측 결과
print('test_set: ', AccuracyScore[1]) # 검증 셋 적용 결과

train_set:  0.7996444444444445
test_set:  0.7945984363894811

다항회귀

In [17]:
from sklearn.preprocessing import PolynomialFeatures

poly_features = PolynomialFeatures(degree=2, include_bias=False)
train_x_poly = poly_features.fit_transform(train_x)
test_x_poly = poly_features.fit_transform(test_x)

LinR.fit(train_x_poly, train_y) 
LinR_poly_predict = LinR.predict(train_x_poly)
LinR_poly_predict_test = LinR.predict(test_x_poly)

AccuracyScore = []
AccuracyScore.append(accuracy_score([ 1 if x > 0.5 else 0 for x in LinR_poly_predict], train_y))
AccuracyScore.append(accuracy_score([ 1 if x > 0.5 else 0 for x in LinR_poly_predict_test], test_y))

comparison.append(AccuracyScore)

print('train_set: ', AccuracyScore[0]) # 훈련 셋 예측 결과
print('test_set: ', AccuracyScore[1]) # 검증 셋 적용 결과

train_set:  0.8136888888888889
test_set:  0.7931769722814499

In [18]:
from sklearn.svm import SVC

svc = SVC(gamma="scale", random_state=42)
svc.fit(train_x, train_y)
svc_predict = svc.predict(train_x)
svc_predict_test = svc.predict(test_x)

AccuracyScore = []
AccuracyScore.append(accuracy_score(svc_predict, train_y))
AccuracyScore.append(accuracy_score(svc_predict_test, test_y))

comparison.append(AccuracyScore)

print('train_set: ', AccuracyScore[0]) # 훈련 셋 예측 결과
print('test_set: ', AccuracyScore[1]) # 검증 셋 적용 결과

train_set:  0.8124444444444444
test_set:  0.7896233120113717

In [19]:
#data_prepared_2

x = ['RandomForest','Bagging','XGB','ADA','LinReg','Poly','SVC']
pd.DataFrame(comparison, index=x, columns=['train_set_score', 'test_set_score'])

              train_set_score  test_set_score
RandomForest         0.801778        0.788913
Bagging              0.813333        0.784648
XGB                  0.849956        0.788202
ADA                  0.817067        0.791756
LinReg               0.799644        0.794598
Poly                 0.813689        0.793177
SVC                  0.812444        0.789623

In [20]:
#XGB.get_params().keys()
from sklearn.model_selection import GridSearchCV
params = {
        'learning_rate': np.arange(0.1, 1, 0.1),
        'max_depth':[2,4,6],
      }


XGB_params_Gridsearch = GridSearchCV(xgb.XGBRegressor(objective='binary:logistic', random_state=42), params, cv=20, verbose=3, n_jobs=-1,
                                   scoring='neg_mean_squared_error',
                                   return_train_score=True)

XGB_params_Gridsearch.fit(train_x, train_y)

Fitting 20 folds for each of 27 candidates, totalling 540 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done 104 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done 264 tasks      | elapsed:   13.0s
[Parallel(n_jobs=-1)]: Done 488 tasks      | elapsed:   23.0s
[Parallel(n_jobs=-1)]: Done 540 out of 540 | elapsed:   25.4s finished

GridSearchCV(cv=20,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs...
                                    num_parallel_tree=None,
                                    objective='binary:logistic',
                                    random_state=42, reg_alpha=None,
                                    reg_lambda=None, scale_pos_weight=None,
                                    subsample=None, tree_method=None,
                                    validate_parameters=None, verbosity=None),
             n_jobs=-1,
             param_grid={'learning_rate': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'max_depth': [2, 4, 6]},
             return_train_score=True, scoring='neg_mean_squared_error',
             verbose=3)

In [21]:
XGB_params_Gridsearch.best_params_

{'learning_rate': 0.1, 'max_depth': 2}

In [22]:
a = XGB_params_Gridsearch.predict(train_x)
b= XGB_params_Gridsearch.predict(test_x)

comparison[2][0] = accuracy_score([ 1 if x > 0.5 else 0 for x in a], train_y)
comparison[2][1] = accuracy_score([ 1 if x > 0.5 else 0 for x in b], test_y)

print('train_set: ', comparison[2][0]) #훈련 셋
print('test_set: ', comparison[2][1]) #테스트셋 적용

train_set:  0.8154666666666667
test_set:  0.7931769722814499